footer {
  margin: 20px auto 50px;
  width: 90%;
  color: $color-black;
  background: $color-white;
  @include grid4Col(50%, 50%, 0, 0);
    grid-template-rows: 1fr;
    grid-template-areas: 
      "form contact"
    ;
  @media screen and (max-width: 1000px) {
    @include grid4Col(1fr, 0, 0, 0);
      grid-template-rows: 550px 500px;
      grid-template-areas: 
        "form"
        "contact"
      ;
  }

  img {
    fill: $color-grey;
    stroke: $color-grey;
  }

  form {
    label {
      display: block;
      height: 30px;
      text-align: left;
      color: $color-grey;
      font-family: $font-2;
      font-size: 0.9rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 20px auto 5px;
      @media screen and (max-width: 1000px) {
        height: 20px;
        font-size: 0.9rem;
      }
    }

    input {
      height: 50px;
      border: 1px solid $color-grey-light;
      width: 100%;
      background: none;
      @media screen and (max-width: 1000px) {
        height: 35px;
      }
    }

    input[type=submit] {
      height: 55px;
      border: 2px solid $color-grey;
      width: 200px;
      background: none;
      color: $color-grey;
      font-family: $font-2;
      font-size: 0.9rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 30px auto 20px;
      @media screen and (max-width: 1000px) {
        height: 45px;
        width: 160px;
        font-size: 0.9rem;
        margin: 30px auto 20px;
      }
    }

    textarea {
      height: 200px;
      border: 1px solid $color-grey-light;
      width: 100%;
      background: none;
      resize: none;
      @media screen and (max-width: 1000px) {
        height: 150px;
      }
    }
  }

  .contact {
    @include grid4Col(1fr,0,0,0);
    grid-template-rows: repeat (4, 1fr);
    grid-template-areas: 
      "address"
      "phone"
      "email"
      "social"
    ;
    @media screen and (max-width: 1000px) {
      grid-template-rows: repeat (4, 100px);
      height: 500px;
    }
  }

  .contact-card {
    border-bottom: 1px solid $color-grey-light;
    padding: 50px 50px;
    @include grid4Col(20%, 80%, 0, 0);
    grid-template-rows: 1fr;
    grid-template-areas: 
      "title details"
    ;
    @media screen and (max-width: 1000px) {
      padding: 20px 50px;
      height: 100px;
      // border-bottom: 1px solid $color-grey-light;
      // border-top: 1px solid $color-grey-light;
      @include grid4Col(30%, 70%, 0, 0);
    }
  }

  .contact-card-title {
    grid-area: title;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;
    padding-left: 5%;
    height: 30px;
    color: $color-grey;
    font-family: $font-2;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 5px;
  }

  .contact-card-details,
  a {
    grid-area: details;
    display: flex;
    flex-direction: row;
    justify-content:left;
    text-align: center;
    padding: 5px 20% 0 10px;
    font-family: $font-1;
    color: $color-grey;
    font-weight: 100;
  }

  ul {
    width: 100%;
  }

  .pictos {
    // padding: 15px 10px 10px 60%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    @include grid4Col(1fr, 1fr, 1fr, 1fr);
  
    li {
      img {
        height: 20px;
        text-align: center;
        margin: 2vh auto;
      }
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
}

  #form {
    grid-area: form;
    border-right: 1px solid $color-grey-light;
    padding: 30px 10% 30px;
  }

  #contact {
    grid-area: contact;
  }
  #address {
    grid-area: address;
    @media screen and (max-width: 1000px) {
      border-top: 1px solid $color-grey-light;
    }
  }
  #phone {
    grid-area: phone;
  }
  #email {
    grid-area: email;
  }
  #social {
    grid-area: social;
    @media screen and (max-width: 1000px) {
      border-bottom: none;
      padding: 0 50px;
    }
  }
  #address-details {
    @media screen and (max-width: 1110px) {
      padding-right: 0;
    }
    p {
      @media screen and (max-width: 1110px) {
        width: 100%;
        text-align: left;
      }
    }
  }
  #phone-details {
    p {
      cursor: pointer;
      text-decoration-line: underline;
      text-decoration-style: dotted;
      text-decoration-color: $color-grey-light;
    }
  }
  #email-details {
    a {
      text-decoration-line: underline;
      text-decoration-style: dotted;
      text-decoration-color: $color-grey-light;
    }
  }
  #social-title {
    margin-top: 30px;
  }
  #social-details {
    padding-right: 40%;
    @media screen and(max-width: 800px) {
      padding-right: 0;
    }
    li {
      img {
        height: 40px;
        width: 40px;
        border: 1px solid $color-grey-light;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
    }
  }
  #email-details {
    padding: 0 20% 0 10px;
  }
}