.header {

  h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    width: 560px;
    text-align: center;
    color: whitesmoke;
    margin: 250px auto 50px;
  }

  h2 {
    color: whitesmoke;
    margin: 30px 10%;
    font-size: 1rem;
    font-weight: 100;
  }

}