.section-main {
  width: 90%;
  margin: 0 auto;

  nav {
    background: rgba(255, 255, 255, 0.197);
    @include grid4Col(1fr, 1fr, 0, 0);
    color: $color-white;
    height: 10vh;
  }

  h1 {
    font-family: $font-2;
    text-transform: uppercase;
    color: $color-black;
    font-size: 4.5rem;
    letter-spacing: 2px;
    line-height: 80px;
    margin-bottom: 50px;
  }

  .tabs {
    display: flex;
    justify-content: space-around;
    @include grid4Col(1fr, 1fr, 1fr, 0);

    li {
      a {
        color: $color-white;
      }
      text-align: center;
      font-family: $font-2;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 700;
      letter-spacing: 2px;
      @include flexCenterChild();
      &:first-child {
        background: $color-white;
        a {
          color: $color-black;
        }
      }
    }
  }

  .pictos {
    padding: 15px 10px 10px 60%;
    display: flex;
    justify-content: end;
    text-align: center;
    @include grid4Col(1fr, 1fr, 1fr, 1fr);
  
    li {
      img {
        height: 20px;
        text-align: center;
        margin: 2vh auto;
      }
    }
  }

  .headline {
    background: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1430px 952px;
    grid-template-areas:
      "xl xl"
      "md1 md2";
  }

  .card-xl,
  .card-md {
    @include flexColCenter();
  }

  .card-xl-date-text {
    margin: 80px auto;
    h5 {
      color: $color-grey;
      font-weight: 100;
      position: relative;
      font-size: 1.2rem;
      &:before {
        content: "";
        position: absolute;
        height: 1px;
        width: 28vw;
        background: $color-grey-light;
        top: 50%;
        left: -32vw;
      }
      &:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 28vw;
        background: $color-grey-light;
        top: 50%;
        right: -32vw;
      }
    }
  }

  .card-xl-subtitle {
    width: 40%;
    margin: 0 auto;
    color: $color-grey;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 40px;
  }

  .card-xl-img {
    margin: 50px 10%;
  }

  .card-xl-btn {
    width: 250px;
    height: 65px;
    margin: 50px auto;
    font-size: 1.2rem;
  }

  .card-md {
    h1 {
      font-family: $font-2;
      text-transform: uppercase;
      color: $color-black;
      font-size: 2.3rem;
      letter-spacing: 1px;
      line-height: 50px;
      margin-bottom: 30px;
    }
  }

  .card-md-date-text {
    margin: 40px auto 20px;
    h5 {
      color: $color-grey;
      font-weight: 100;
      position: relative;
      font-size: 1.2rem;
    }
  }

  .card-md-subtitle {
    width: 80%;
    margin: 0 auto;
    color: $color-grey;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 40px;
    text-align: left;
  }

  .card-md-btn {
    width: 170px;
    height: 55px;
    margin: 50px auto;
    font-size: 0.9rem;
  }

  #g1 {
    grid-area: xl;
    border-bottom: 1px solid $color-grey-light;
  }
  #g1-img {
    height: 600px;
    background: url(./../assets/img/pic01.jpg) center/cover;
  }
  #g2 {
    grid-area: md1;
    border-right: 1px solid $color-grey-light;
  }
  #g2-img {
    height: 350px;
    margin: 10px 10% 50px;
    background: url(./../assets/img/pic02.jpg) center/cover;
  }
  #g3 {
    grid-area: md2;
  }
  #g3-img {
    height: 350px;
    margin: 10px 10% 50px;
    background: url(./../assets/img/pic03.jpg) center/cover;
  }
}
