@font-face {
  font-family: "font-1";
  src: url(../../assets/fonts/Merriweather-Regular.ttf);
}

$font-1: "font-1", serif;
$font-2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$color-white: whitesmoke;
$color-black: rgb(29, 29, 29);
$color-grey:  rgb(101, 101, 101);
$color-grey-light: rgba(179, 179, 179, 0.374);

@mixin flexCenterChild {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@mixin grid4Col($col1, $col2, $col3, $col4) {
  display: grid;
  grid-template-columns: $col1 $col2 $col3 $col4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../../assets/img/bg.jpg) center/cover fixed;
  font-family: $font-1;
}

ul {
  list-style: none;
}