@font-face {
  font-family: "font-1";
  src: url(../../assets/fonts/Merriweather-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../../assets/fonts/MerriweatherSans-Regular.ttf);
}

$font-1: "font-1", serif;
$font-2: "font-2", sans-serif;

$color-white: whitesmoke;
$color-black: rgb(51, 51, 51);
$color-grey: rgb(140, 140, 140);
$color-grey-light: rgba(179, 179, 179, 0.374);
$color-cyan: cyan;
$color-darkcyan: darkcyan;

@mixin flexCenterChild {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@mixin grid4Col($col1, $col2, $col3, $col4) {
  display: grid;
  grid-template-columns: $col1 $col2 $col3 $col4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./../assets/img/bg.jpg) center/cover fixed;
  font-family: $font-1;

  &:before {
    content: "";
    position: absolute;
    height: 90vh;
    width: 100%;
    top: 0;
    left: 0;
    background: #1e252d;
    animation: animBefore 1.5s ease forwards;
    animation-delay: 0.3s;

    @keyframes animBefore {
      to {
        opacity: 0;
      }
    }
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-black;
}

.btn {
  background: none;
  font-family: $font-2;
  color: $color-black;
  border: 2px solid $color-black;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  &:hover {
    cursor: pointer;
    color: $color-cyan;
    border: none;
    outline: 2px solid $color-darkcyan;
  }
}

.btn-primary {
  display: none !important;
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: none !important;
  border: none !important;
  background: url(./../assets/icons/burger.svg) right/cover !important;
  width: 50px;
  height: 50px;

  &:hover {
    outline: none !important;
    transform: scale(1.2);
  }
  border-radius: 0.25rem;
  transition: none !important;

  @media screen and (max-width: 1000px) {
    display: block !important;
  }
}

.offcanvas-body {
  a {
    text-decoration: none !important;
    color: $color-grey !important;

    &:hover {
      color: $color-black !important;
      font-size: 1.4rem !important;
    }
    &:visited,
    &:active,
    &:focus {
      outline: none !important;
      border: none !important;
      transition: none !important;
    }
  }
}
