@font-face {
  font-family: "font-1";
  src: url(../../assets/fonts/Merriweather-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(../../assets/img/bg.jpg) center/cover fixed;
  font-family: "font-1", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

.btn {
  background: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
  border: 2px solid #333333;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn:hover {
  cursor: pointer;
  color: cyan;
  border: none;
  outline: 2px solid darkcyan;
}

.header {
  margin: 25vh auto 5vh;
  height: 60vh;
}

.header h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  color: whitesmoke;
  margin: 0 auto 30px;
}

.header h2 {
  color: whitesmoke;
  margin: 30px 5%;
  font-size: 1.4rem;
  font-weight: 100;
  text-align: center;
}

.header .logo {
  height: 30px;
  width: 30px;
  background: url(../../assets/icons/arrow-down.svg) center/cover;
  margin: 50px auto 0;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  padding: 30px;
}

.section-main {
  width: 90%;
  margin: 0 auto;
}

.section-main nav {
  background: rgba(255, 255, 255, 0.197);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 0 0;
      grid-template-columns: 1fr 1fr 0 0;
  color: whitesmoke;
  height: 10vh;
}

.section-main h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: #333333;
  font-size: 4.5rem;
  letter-spacing: 2px;
  line-height: 80px;
  margin-bottom: 50px;
}

.section-main .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 0;
      grid-template-columns: 1fr 1fr 1fr 0;
}

.section-main .tabs li {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-main .tabs li a {
  color: whitesmoke;
}

.section-main .tabs li:first-child {
  background: whitesmoke;
}

.section-main .tabs li:first-child a {
  color: #333333;
}

.section-main .pictos {
  padding: 15px 10px 10px 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section-main .pictos li img {
  height: 20px;
  text-align: center;
  margin: 2vh auto;
}

.section-main .headline {
  background: whitesmoke;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1430px 952px;
      grid-template-rows: 1430px 952px;
      grid-template-areas: "xl xl" "md1 md2";
}

.section-main .card-xl,
.section-main .card-md {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.section-main .card-xl-date-text {
  margin: 80px auto;
}

.section-main .card-xl-date-text h5 {
  color: #8c8c8c;
  font-weight: 100;
  position: relative;
  font-size: 1.2rem;
}

.section-main .card-xl-date-text h5:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 28vw;
  background: rgba(179, 179, 179, 0.374);
  top: 50%;
  left: -32vw;
}

.section-main .card-xl-date-text h5:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 28vw;
  background: rgba(179, 179, 179, 0.374);
  top: 50%;
  right: -32vw;
}

.section-main .card-xl-subtitle {
  width: 40%;
  margin: 0 auto;
  color: #8c8c8c;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 40px;
}

.section-main .card-xl-img {
  margin: 50px 10%;
}

.section-main .card-xl-btn {
  width: 250px;
  height: 65px;
  margin: 50px auto;
  font-size: 1.2rem;
}

.section-main .card-md h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: #333333;
  font-size: 2.3rem;
  letter-spacing: 1px;
  line-height: 50px;
  margin-bottom: 30px;
}

.section-main .card-md-date-text {
  margin: 40px auto 20px;
}

.section-main .card-md-date-text h5 {
  color: #8c8c8c;
  font-weight: 100;
  position: relative;
  font-size: 1.2rem;
}

.section-main .card-md-subtitle {
  width: 80%;
  margin: 0 auto;
  color: #8c8c8c;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 40px;
  text-align: left;
}

.section-main .card-md-btn {
  width: 170px;
  height: 55px;
  margin: 50px auto;
  font-size: 0.9rem;
}

.section-main #g1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: xl;
  border-bottom: 1px solid rgba(179, 179, 179, 0.374);
}

.section-main #g1-img {
  height: 600px;
  background: url(../../assets/img/pic01.jpg) center/cover;
}

.section-main #g2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: md1;
  border-right: 1px solid rgba(179, 179, 179, 0.374);
}

.section-main #g2-img {
  height: 350px;
  margin: 10px 10% 50px;
  background: url(../../assets/img/pic02.jpg) center/cover;
}

.section-main #g3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: md2;
}

.section-main #g3-img {
  height: 350px;
  margin: 10px 10% 50px;
  background: url(../../assets/img/pic03.jpg) center/cover;
}

footer {
  margin: 20px auto 50px;
  width: 90%;
  color: #333333;
  background: whitesmoke;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50% 0 0;
      grid-template-columns: 50% 50% 0 0;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "form contact";
}

footer img {
  fill: #8c8c8c;
  stroke: #8c8c8c;
}

footer form label {
  display: block;
  height: 30px;
  text-align: left;
  color: #8c8c8c;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 5px;
}

footer form input {
  height: 50px;
  border: 1px solid rgba(179, 179, 179, 0.374);
  width: 100%;
  background: none;
}

footer form input[type=submit] {
  height: 55px;
  border: 2px solid #8c8c8c;
  width: 200px;
  background: none;
  color: #8c8c8c;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 20px;
}

footer form textarea {
  height: 200px;
  border: 1px solid rgba(179, 179, 179, 0.374);
  width: 100%;
  background: none;
  resize: none;
}

footer .contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0 0 0;
      grid-template-columns: 1fr 0 0 0;
  -ms-grid-rows: repeat 4, 1fr;
      grid-template-rows: repeat 4, 1fr;
      grid-template-areas: "address" "phone" "email" "social";
}

footer .contact-card {
  border-bottom: 1px solid rgba(179, 179, 179, 0.374);
  padding: 50px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 0 0;
      grid-template-columns: 20% 60% 0 0;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "title details";
}

footer .contact-card-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: center;
  padding-left: 5%;
  height: 30px;
  color: #8c8c8c;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer .contact-card-details,
footer a {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: details;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: center;
  padding-right: 30%;
  font-family: "font-1", serif;
  color: #8c8c8c;
  font-weight: 100;
}

footer ul {
  width: 100%;
}

footer .pictos {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .pictos li img {
  height: 20px;
  text-align: center;
  margin: 2vh auto;
}

footer #form {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: form;
  border-right: 1px solid rgba(179, 179, 179, 0.374);
  padding: 30px 10% 30px;
}

footer #contact {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contact;
}

footer #address {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: address;
}

footer #phone {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: phone;
}

footer #email {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: email;
}

footer #social {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: social;
}
/*# sourceMappingURL=style.css.map */